.pokemonCardContainer {
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  padding-bottom: 5vh;
}
.pokemonCardContainer app-loader {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Center loader when details are loading */
.pokemonCardContainer app-loader .loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 50px;
  min-height: 60vh;
}

.cardHeader {
  position: relative; 
  height: 150px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pokemonDetailsContainer {
  margin-top: 70px;
  margin-left: 6vw;
  margin-right: 6vw;
}

.infoSection {
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pokemonCardContainer {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .firstContainer {
    width: 20%;
    height: 100%;
  }

  .cardHeader {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .secondContainer {
    flex: 1;
    display: flex;
    flex-direction: column; 
    margin-left: 80px;
    padding: 4vh 5vw;
    overflow-y: auto;
    min-height: auto; 
  }

  .pokemonDetailsContainer {
    margin: 0; 
    align-items: flex-start;
    width: 100%;
    min-height: auto; 
    height: auto;
  }

  .infoSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
