.cardHeader {
  position: relative; 
  height: 150px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cardContent {
  margin-top: 70px;
}

.pokemonCardContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  padding-bottom: 5vh;
}

.pokemonDetailsContainer {
  margin-top: 70px;
  margin-left: 6vw;
  margin-right: 6vw;
}
