.physicalInfoBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10vw;
  margin-top: 2vh;
  justify-content: center;
}

@media (min-width: 900px) {
  .physicalInfoBox {
    display: flex;
    gap: 4vw;
    width: 100%;
    margin-top: 2vh;
  }
}