.physicalInfoBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .physicalInfoBox {
    display: flex;
    width: 100%;
    margin-top: 2vh;
  }
}