.pokemonImage {
  position: relative;
  z-index: 1;
  margin-bottom: -70px; 
}

.pokemonImage img {
  width: 180px; 
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .pokemonImage img {
    width: 250px;
  }
}

@media (min-width: 992px) {
  .pokemonImage {
    position: relative;
    z-index: 2;
    right: -70px;
    margin-bottom: 0; 
  }

  .pokemonImage img {
    width: 350px;
    height: auto;
  }
}

@media (min-width: 1150px) {
  .pokemonImage {
    position: relative;
    z-index: 2;
    right: -80px;
    margin-bottom: 0; 
  }

  .pokemonImage img {
    width: 400px;
    height: auto;
  }
}