.titleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.titleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonName {
    text-transform: capitalize;
    font-size: 1.8rem; 
    font-weight: 700;
}

.pokemonNumber {
  font-size: 1rem;
  font-weight: 300;
  color: #7A7D80;
  position: relative;
  top: 3px;
}

@media (min-width: 900px) {
  .titleSection {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .titleContent {
    align-items: flex-start;
  }

  .pokemonName {
    font-size: 2.8em; 
  }
}