.titleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.pokemonName {
    text-transform: capitalize;
    font-size: 2em; 
    font-weight: 700;
}

.pokemonNumber {
  font-size: 1.3em;
  font-weight: 300;
  color: #7A7D80;
  position: relative;
  top: 3px;
}