footer {
    height: 10svh;
    font-family: Inter;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer button {
    background-color: #c20001   ;
    color: white;
    border: none;
    padding: 0.2rem 0.375rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.9rem;
    height: 2rem;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.developers {
    font-size: 0.8rem;
    color: #666666;
}

.api-link {
    font-size: 0.9rem;
    background-color: #c20001;
}