<div class="mobile-filter-container">
    <div class="mobile-filter" (click)="toggleOpen()">
        <h4>View: <span>{{ view() || 'All' }}</span></h4>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            [class.rotated]="isOpen">
            <path d="m6 9 6 6 6-6" />
        </svg>
    </div>

    @if (isOpen) {
    <div class="mobile-filter-dropdown">
        @for (item of items; track $index) {
        <div class="mobile-filter-item" (click)="selectType(item.label)">
            <div class="icon-container" [style.color]="item.activeColor">
                <ng-container *ngComponentOutlet="item.icon"></ng-container>
            </div>
            <span>{{ item.label }}</span>
        </div>
        }
    </div>
    }
</div>