.mobile-filter {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #a0afba;
  border-radius: 122px;
  margin-top: 34px;
}

.mobile-filter h4 {
  color: #a0afba;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

.mobile-filter span {
  color: #4d5053;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
