.pokemon-card {
  width: 100%;
  height: 304px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 10px 51px 0 rgba(183, 189, 193, 0.3);
  padding: 24px 28px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.pokemon-card:hover {
  transform: translateY(-12px) scale(1.05);
  box-shadow: 0 20px 60px 0 rgba(62, 117, 195, 0.4);
}

.pokemon-card:hover .pokemon-image img {
  transform: scale(1.1) rotate(5deg);
}

.pokemon-card img {
  width: 200px;
  height: 200px;
}

.pokemon-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pokemon-id {
  color: #7a7d80;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.pokemon-text h3 {
  color: #2f3133;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.pokemon-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-types {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pokemon-type-icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.pokemon-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-image img {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 600px) {
  .pokemon-card {
    width: 100%;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 10px 51px 0 rgba(183, 189, 193, 0.3);
    padding: 24px 28px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .pokemon-card:hover {
    transform: translateY(-12px) scale(1.05);
    box-shadow: 0 20px 60px 0 rgba(62, 117, 195, 0.4);
  }

  .pokemon-card:hover .pokemon-image img {
    transform: scale(1.1) rotate(5deg);
  }

  .pokemon-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .pokemon-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pokemon-image img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .pokemon-id {
    color: #7a7d80;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
  }

  .pokemon-text h3 {
    color: #2f3133;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
  }
  .pokemon-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pokemon-type-icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
