@if (pokemon(); as poke) {
<div class="pokemon-card" (click)="handleClick()">
    <div class="pokemon-image">
        <img [src]="poke.imageUrl" [alt]="poke.name" class="pokemon-image" (error)="onImageError($event, poke)">
    </div>
    <div class="pokemon-text">
        <div class="pokemon-id">#{{ poke.id.toString().padStart(3, '0') }}</div>
        <div class="pokemon-bottom">
            <h3 class="pokemon-name">{{ capitalize(poke.name) }}</h3>
            <div class="pokemon-types">
                @for (type of poke.types; track type) {
                <div class="pokemon-type-icon" [class]="getTypeClass(type)"></div>
                }
            </div>
        </div>
    </div>
</div>
}