.typeSection {
  display: flex;
  justify-content: center;  
  text-align: center; 
  gap: 2vw;
  margin-top: 2vh;
}

@media (min-width: 992px) {
  .typeSection {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}