.evolutionContainer{
  margin-top: 5vh;
}

.evolutionRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
  justify-content: center;
  background-color: #f5f5f5db;
  border-radius: 4px;
  padding: 9px;
}

.evolutionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.pokemonName {
  color: #4D5053;
  text-transform: capitalize;
}

.evolutionCard img {
  display: flex;
  max-width: 80px;
  min-width: 50px;
}

app-arrow-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.centeredlabel2 {
  font-weight: 700;
  font-size: 14px;
  color: #7A7D80;
  padding: 1vh;
  display: flex;
  justify-content: left;
}

.load-more {
  display: flex;
  justify-content: center;
}

.load-more button {
  height: 45px;
  display: inline-flex;
  padding: 14px 20px;
  gap: 10px;
  border-radius: 6px;
  background: rgba(63, 93, 179, 0.1);
  border: none;
  color: #3f5db3;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;
}

@media (min-width: 900px) {
  .evolutionContainer {
      margin-top: 2vh;
  }
}

@media (max-width: 600px) {
  .load-more button {
    display: inline-flex;
    padding: 14px 20px;
    align-items: flex-end;
    gap: 10px;
    border-radius: 6px;
    background: rgba(63, 93, 179, 0.1);
    border: none;
    color: #3f5db3;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.14px;
  }
}
