.evolutionRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 4vh;
  justify-content: center;
}

.evolutionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.pokemonName {
  color: #4D5053;
  text-transform: capitalize;
}

.evolutionCard img {
  display: flex;
  max-width: 80px;
  min-width: 50px;
}

app-arrow-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.centeredlabel2 {
  font-weight: 700;
  font-size: 14px;
  color: #4D5053;
  padding: 2vh;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .evolutionCard img {
    display: flex;
    max-width: 120px;
    min-width: 80px;
  }
}