.menu-item {
    display: flex;
    align-items: center;
    gap: 26px;
}

.menu-item span {
    color: #ACB9C1;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
}

.menu-item svg {
    width: 24px;
    height: 24px;
}

@media (max-width: 480px) {
    .menu-item span{
        font-size: 18px;
    }
    
}