.burger-icon {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 22px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 9999;
}

.burger-icon span {
  display: block;
  height: 3px;
  background: #ffffff;
  border-radius: 3px;
  transition: 0.3s ease;
}

.burger-toggle:checked + .burger-icon span {
  background: #000000;
}

.burger-toggle {
  display: none;
}

.burger-menu-container {
  position: fixed;
  top: 0;
  right: -100%;  
  width: 100%;   
  height: 100vh;
  background: #ffffff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  padding-top: 50px;
  transition: right 0.3s ease;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.burger-toggle:checked ~ .burger-menu-container {
  right: 0;
}

.burger-toggle:checked + .burger-icon span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-toggle:checked + .burger-icon span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.burger-toggle:checked + .burger-icon span:nth-child(2) {
  opacity: 0;
}

