.headerBackgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
  overflow: hidden; 
}

.headerBackgroundContainer .headerBackground::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: var(--bg-image-url); 
  background-position: center;
  background-repeat: no-repeat; 
  width: 150vw;  
  height: 150vw; 
  transform: translate(-50%, -50%) rotate(270deg); 
  background-size: 30% auto; 
}