.headerBackgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 0; 
  overflow: hidden; 
}

.headerBackgroundContainer .headerBackground::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--bg-image-url); 
  background-position: center;
  background-repeat: no-repeat; 
  width: 100%;  
  height: 100%; 
  background-size: cover; 
}

@media (min-width: 900px) {
  .headerBackgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    overflow: hidden; 
    display: block;
  }

  .headerBackgroundContainer .headerBackground::before {
    content: "";
    display: block;
    position: absolute;
    transform: none; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.01);
  }
}