<div class="ability-filter-container">
    <div class="filter-button" (click)="toggleOpen()">
        <h4>Ability: <span>{{ selectedAbility }}</span></h4>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            [class.rotated]="isOpen">
            <path d="m6 9 6 6 6-6" />
        </svg>
    </div>

    @if (isOpen) {
    <div class="dropdown-menu">
        <div class="dropdown-item" (click)="selectAbility('')">All abilities</div>
        @for (ability of abilities; track ability.name) {
        <div class="dropdown-item" (click)="selectAbility(ability.name)">
            {{ ability.name }}
        </div>
        }
    </div>
    }
</div>