.label{
    font-weight: 700;
    color: #4D5053;
    padding: 2vh;
    display: flex;
    justify-content: center;
}

.stat-row {
    margin-bottom: 10px;
}

.bar-container {
    display: flex;
    width: 100%;
    height: 12px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 3vh;
}

.bar-fill {
    height: 100%;
    background: red;
    transition: width 0.3s ease;
    border-radius: 6px;
}

.statsSection {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.infoLabel {
    font-weight: 300;
    color: #7A7D80;
    text-transform: capitalize;
}