<div class="pokemon-stats">
    <div class="statsSection">
        <span class="label">Statistics</span>
        <div class="statsList">
            @for(stats of stats; track $index){
                <div class="stat-row">
                    <span class="infoLabel">{{ stats.stat.name }}</span>
                    <div class="bar-container">
                        <div class="bar-fill" [style.width.%]="stats.base_stat"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
