.cardHeader {
  position: relative; 
  height: 150px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.headerBackgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
  overflow: hidden; 
}

.headerBackgroundContainer .headerBackground::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: var(--bg-image-url); 
  background-position: center;
  background-repeat: no-repeat; 
  width: 150vw;  
  height: 150vw; 
  transform: translate(-50%, -50%) rotate(270deg); 
  background-size: 30% auto; 
}

.pokemonImage {
  position: relative;
  z-index: 1;
  margin-bottom: -70px; 
}

.pokemonImage img {
  width: 180px; 
  height: auto;
  display: block;
}

@media (min-width: 769px) {
  .cardHeader {
    height: 250px; 
  }

  .headerBackgroundContainer {
    overflow: hidden; 
  }

  .headerBackgroundContainer .headerBackground::before {
    width: 100%;       
    height: 100%;
    transform: translate(-50%, -50%) rotate(0deg); 
    background-size: cover; 
  }

  .pokemonImage {
    bottom: -60px; 
  }

  .pokemonImage img {
    width: 150px; 
  }
}
