<img
    [src]=" pokemon?.sprites?.front_default"
    [alt]=" pokemon?.name + ' image'"
/>
<br><br>

<h2> Pokemon name: {{ pokemon?.name }}</h2>
<h2> Pokemon number: {{ pokemon?.id }}</h2>
<br><br>

<h2> Pokemon types:</h2>

@for (types of pokemon?.types; track $index) {
    <h3> Type: {{ types?.type?.name}}</h3>
}
<br><br>

<h2> Weight: {{ pokemon?.weight }}</h2>
<h2> Height: {{ pokemon?.height }}</h2>
<br><br>

<h2> Category: {{ category }}</h2>
<br><br>

<h2> Abilitys:</h2>
@for (abilities of pokemon?.abilities; track $index) {
    <h3> Ability: {{ abilities?.ability?.name}}</h3>
}
<br><br>

<h2> Weaknesses: </h2>
@for (weakness of weaknesses; track $index) {
    <h3> Weakness: {{ weakness }}</h3>
}
<br><br>

<h2> Stats:</h2>
@for (stats of pokemon?.stats; track $index) {
    <h3> Stat name: {{ stats?.stat?.name }}</h3>
    <h3> Base stat: {{ stats?.base_stat }}</h3>
    <h3> Effort: {{ stats?.effort }}</h3><br>   
}
<br><br>