.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero {
  padding-inline: 111px;
  padding-block: 11px;
  background: #c20001;
  height: 80vh;
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-tag {
  background-color: white;
  border-radius: 244px;
  width: 121px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.bag {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background: rgba(63, 103, 186, 0.15);
}

.bag-text {
  color: #3f67ba;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.hero-title {
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  gap: 8px;
}

.hero-title h1 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

.hero-title p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.pokeball-img {
  position: absolute;
  bottom: -270px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.pokeball-red {
  z-index: 2;
  position: relative;
}

.hero-items {
  position: absolute;
  left: 50px;
  bottom: 70%;
  transform: translate(50%);
  opacity: 0.7;
}

.hero-items:nth-child(4) {
  left: auto;
  right: 50px;
}

.hero-drop-svg {
  position: absolute;
}

.hero-lightning-svg {
  position: absolute;
  left: 180px;
  top: 25px;
}

.hero-message-svg {
  position: absolute;
  left: 60px;
  bottom: -200px;
}

.hero-fire-svg {
  position: absolute;
  right: 130px;
  top: -110px;
}

.hero-snow-svg {
  position: absolute;
  right: -30px;
  bottom: -80px;
}

.hero-leaf-svg {
  position: absolute;
  left: -270px;
  top: 120px;
}

.hero-spark-svg {
  position: absolute;
  left: -100px;
  bottom: -280px;
}
.hero-stars {
  display: flex;
  justify-content: center;
  gap: 30px;
  z-index: 2;
  position: relative;
  top: 20px;
}

.hero-star-small {
  margin-top: 30px;
}

.pokeball-red {
  z-index: 2;
  position: relative;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero-img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 322px;
  background: white;
  z-index: 1;
}

.hero-shadows {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100px;
  left: 0;
  z-index: 0;
}

.hero-pokeball-shadow {
  border-radius: 50%;
  border: 24px solid #e81414;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 516px;
  height: 516px;
  opacity: 0.3;
}

.hero-pokeball-shadow.large {
  width: 626px;
  height: 626px;
  opacity: 0.1;
}

.hero-pokeball-shadow.small {
  width: 408px;
  height: 408px;
  opacity: 0.5;
}
