.box {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

.infoLabel {
  color: #7A7D80;
  margin-right: 0.5em;
  text-transform: capitalize;
}

.infoValue {
  font-weight: 700;
  text-transform: capitalize;
}

.pokemonType {
  height: 24px;
  display: inline-block;
  padding: 4px 25px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.centeredLabel{
  font-weight: 700;
  color: #4D5053;
  padding: 2vh;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .box {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 2vh;
  }
  
  .infoLabel {
    font-size: 1em;
    font-weight: 500;
    margin-right: 0;
  }

  .infoValue {
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 0.5vh;
  }

  .centeredLabel {
    font-size: 1.2em;
    padding: 1vh 0;
  }
}