.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
}

.infoLabel {
    color: #7A7D80;
    margin-right: 0.5em;
    text-transform: capitalize;
}

.infoValue {
    font-weight: 700;
    text-transform: capitalize;
}

.pokemonType {
    display: inline-block;
    padding: 0.5rem 2.5rem;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: capitalize;
}
