.weaknessesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weaknessesList {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 2vw;
}

@media (min-width: 992px) {
   .weaknessesSection {
    align-items: flex-start;
    width: 100%;
  }

  .weaknessesList {
    justify-content: flex-start;
    max-width: 100%;
    gap: 10px;
  }
}