.weaknessesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.label{
  font-weight: 700;
  color: #4D5053;
  padding: 2vh;
}

.weaknessesList {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 2vw;
  padding-bottom: 2vh;
}