@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yesteryear&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yesteryear&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; 
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.type-normal { 
  background-color: rgba(160, 162, 159, 0.1); 
  color: #909090; 
}

.type-fire { 
  background-color: rgba(233, 99, 3, 0.1);
  color: #E96303; 
}

.type-water { 
  background-color: rgba(136, 163, 212, 0.1);
  color: #4F77BE; 
}

.type-grass { 
  background-color: rgba(92, 164, 138, 0.1);
  color: #73B861; 
}

.type-electric { 
  background-color: rgba(238, 217, 103, 0.1); 
  color: #D4BC34; 
}

.type-ice { 
  background-color: rgba(139, 206, 193, 0.1);
  color: #71BAAC; 
}

.type-fighting { 
  background-color: rgba(196, 77, 97, 0.1); 
  color: #C44D61; 
}

.type-poison { 
  background-color: rgba(172, 106, 202, 0.1);
  color: #AC6ACA; 
}

.type-ground { 
  background-color: rgba(206, 128, 86, 0.1);
  color: #CE8056; 
}

.type-flying { 
  background-color: rgba(166, 187, 232, 0.1);
  color: #758CBD; 
}

.type-psychic { 
  background-color: rgba(235, 139, 133, 0.1);
  color: #EB8B85; 
}

.type-bug { 
  background-color: rgba(155, 186, 72, 0.1); 
  color: #9BBA48; 
}

.type-rock { 
  background-color: rgba(101, 103, 103, 0.1);
  color: #656767; 
}

.type-ghost { 
  background-color: rgba(97, 110, 183, 0.1);
  color: #616EB7; 
}

.type-dragon { 
  background-color: rgba(44, 106, 193, 0.1); 
  color: #2C6AC1; 
}

.type-steel { 
  background-color: rgba(101, 148, 161, 0.1);
  color: #6594A1; 
}

.type-dark { 
  background-color: rgba(55, 54, 60, 0.1);
  color: #37363C; 
}

.type-fairy { 
  background-color: rgba(226, 150, 225, 0.1);
  color: #E296E1; 
}

.pokemon-type-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: inline-block;
}

.type-dragon-image   { background-image: url('/Dragon.svg'); }
.type-electric-image { background-image: url('/Electric.svg'); }
.type-fairy-image    { background-image: url('/Fairy.svg'); }
.type-fighting-image { background-image: url('/Fighting.svg'); }
.type-fire-image     { background-image: url('/Fire.svg'); }
.type-flying-image   { background-image: url('/Flying.svg'); }
.type-ghost-image    { background-image: url('/Ghost.svg'); }
.type-grass-image    { background-image: url('/Grass.svg'); }
.type-ground-image   { background-image: url('/Ground.svg'); }
.type-ice-image      { background-image: url('/Ice.svg'); }
.type-normal-image   { background-image: url('/Normal.svg'); }
.type-poison-image   { background-image: url('/Poison.svg'); }
.type-psychic-image  { background-image: url('/Psychic.svg'); }
.type-rock-image     { background-image: url('/Rock.svg'); }
.type-steel-image    { background-image: url('/Steel.svg'); }
.type-water-image    { background-image: url('/Water.svg'); }
.type-bug-image      { background-image: url('/Bug.svg'); }
.type-dark-image     { background-image: url('/Dark.svg'); }