.statslabel{
    font-weight: 700;
    color: #4D5053;
    padding: 2vh;
    display: flex;
    justify-content: center;
}

.stat-row {
    margin-bottom: 12px;
}

.bar-container {
    display: flex;
    width: 100%;
    height: 12px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 7px;
}

.bar-fill {
    height: 100%;
    background: red;
    transition: width 0.3s ease;
    border-radius: 6px;
}

.statsSection {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}